.auth-container {
    text-align: center;
}

.auth-container input {
    height: 50px;
    width: 50px;
    background: none;
    border-style: solid;
    border-width: 1px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}

.auth-container input:focus {
    outline: none;
    background: none;
}


.auth-container-light input {
    border-color: rgba(0, 0, 0, 0.23);
    color: black;
}

.auth-container-light input:focus {
    border-color: rgba(25, 118, 210);
}

.auth-container-dark input {
    border-color: rgba(255, 255, 255, 0.23);
    color: white;
}

.auth-container-dark input:focus {
    border-color: rgba(144, 202, 249);
}
